
body {  
          
    height: 100vh;                 
    margin: 0;                     
}  

#gameBoard {  
    border-width: 1px;
    border-style: solid;  
    width: 400px;            
    height: 400px;           
    background-color: #fff;   
    overflow: hidden;
    position: relative;
}  

#score {  
    font-size: 25px;  
    font-weight: bold;  
    color: rgb(0, 0, 0);  
    margin-top: 5px;  
    margin-bottom: 3px;  
}  



.segm,
.apple {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    position: absolute;
}

.segm {
  background-color: #ff00f2;
}

.apple {
  background-color: greenyellow;
}






/*css для nGame.html */

body.background {
    background-color: black; /* Черный фон для body */
}

.button-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрирование по вертикали */
    position: relative; /* Для позиционирования заголовка */
}

.welcome-title {
    margin-bottom: 20px; /* Отступ между заголовком и кнопкой */
    font-size: 50px; /* Размер шрифта заголовка */
    color: black; /* Цвет текста заголовка */
    position: relative; /* Для анимации свечения */
    z-index: 1; /* Убедитесь, что заголовок выше кнопки */
    animation: blink 2s infinite; /* Увеличение времени анимации мигания */
}

@keyframes blink {
    0%, 100% { text-shadow: 
        0 0 5px white, 
        0 0 10px white, 
        0 0 15px white, 
        0 0 20px rgba(255, 255, 255, 0.5); }
    50% { text-shadow: 
        0 0 5px white, 
        0 0 10px white, 
        0 0 15px white, 
        0 0 20px rgba(255, 255, 255, 0); } /* Прозрачность обводки */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    background-color: white; /* Белый фон */
    color: black; /* Черный текст */
    border: 2px solid black; /* Черная обводка */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный текст */
    font-size: 16px; /* Размер шрифта */
    transition: box-shadow 0.5s; /* Плавный переход для тени */
    animation: glow 3s infinite; /* Увеличение времени анимации свечения */
    position: relative; /* Для анимации свечения */
    z-index: 0; /* Кнопка ниже заголовка */
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0); /* Без свечения */
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8); /* Светлое свечение */
    }
}